.prev-icon{
    background: linear-gradient(to right, #F8EBDC, #E7D7C2);
}
.prev-icon:hover{
    background: linear-gradient(to right, #8f3d06, #E7D7C2);
}
.next-icon{
    background: linear-gradient(to right, #E7D7C2, #F8EBDC);
}
.next-icon:hover{
    background: linear-gradient(to right, #E7D7C2, #8f3d06);
}
@media (max-width: 1272px) {
    .categories-section-box{
        width: 37.5rem;
        gap: 4px;
        height: fit-content;
    }
    .categories-section-img-box{
        width: 10rem;
    }
    .categories-section-img-imgs{
        width: 10rem;
    }
    .categories-section-category-title{
        padding: 0px 4px;
        height: 30px;
    }
}

@media (max-width: 650px) {
    .categories-section-box{
        width: 18rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .categories-section-img-box{
        width: fit-content;
    }
    .categories-section-img-imgs{
        width: 138px;
        height: auto;
    }
    .categories-section-category-title{
        padding: 0px 8px;
        height: 35px;
    }
}